@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

$text-color: #404040;
$border-color: lighten($text-color, 50);
$twitter-color: #1da1f2;

body {
  display: grid;
  grid-template-rows: auto 200px;
  color: $text-color;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $twitter-color;
  color: white;

  h1 {
    font-size: 20px;
    font-weight: normal;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0.2em;
}

div#result {
  text-align: center;

  box-sizing: border-box;
  width: 768px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  font-size: 1.25em;
  padding: 1.5em 0;
  border: 2px dotted $border-color;
  border-radius: 1em;
}

div#control {
  padding: 1.5em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  font-size: 1em;
}

button#generate {
  background-color: inherit;
  border: 2px solid $border-color;
  border-radius: 1em;
  padding: 5px 20px;

  &:hover {
    background-color: darken(white, 5);
    border-color: darken(white, 5);
  }

  &:active {
    background-color: darken(white, 10);
    border-color: darken(white, 10);
  }
}

button#tweet {
  background-color: $twitter-color;
  border: 1px solid $twitter-color;
  border-radius: 1em;
  padding: 5px 20px;
  color: white;
  font-size: 1em;

  &:hover {
    background-color: darken($twitter-color, 5);
    border-color: darken($twitter-color, 5);
  }

  &:active {
    background-color: darken($twitter-color, 10);
    border-color: darken($twitter-color, 10);
  }
}